<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="apiKeyBinance" value="your_api_key_here" />
		<add key="feeMarketPercentUsdtFururesBinance" value ="0.04" />
		<add key="apiSecretBinance" value="your_api_secret_here" />
		<add key="tokenTinkoff" value="your_api_secret_here" />
	</appSettings>
</configuration>